.contenedor{
    border-top: 10px;
    display: flex;
    justify-content:space-around;
    background-color:rgba(191, 50, 83, 0.178);
    width: 100%;
     }

.contenedora{
    margin: 0px;
}

.InfoPersonal{
     font-size: 20px;
    margin: 30px;
   }
.map{
    display: flex;
    justify-content: flex-end;
}
.iconos{
    display: flex;
    flex-direction: row;
     color:rgb(191, 50, 84) ;
}
.sep{
padding-bottom: 15px;
}
.InfoPersonal img{
    width: 30px;
    height: 30px;
}
.iconos p{
    padding-left: 4px;
}
.icono{
    color: rgb(191, 50, 84);
}
.horario{
    color: rgb(191, 50, 84);
    font-size: 20px;
    display: flex;
    justify-content: center;
      margin-left:1px ;
      margin-top: 100px;
}