<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/StylesFrom-comidas.css">
    <title>Comidas</title>
</head>

<body>
    <div class="contenedorBarra"> <!-- NUEVO -->
        <nav class="contenedorPrincipal">
            <ul>
                <li><a href="index.html">Inicio</a> </li>
                <li><a href="menu.html">Menú</a></li>
                <li><a href="Reserva.html">Reserva</a></li>
            </ul>
        </nav>
    </div>
    <div class="conPrinci">
    <div class="caja">
        <div>
            <h1 class="text"> Registro de comidas </h1>
            <form th:action="" method="POST" enctype="multipart/form-data">
              <label class="titulo">Titulo</label> <br><br>
                <input type="text" name="titulo comida" placeholder="Titulo del plato" th:value="titulo"><br>
                <label class="titulo">Valor</label> <br><br>
                <input type="number" name="valor del plato" placeholder="Valor del plato" th:value="valor"><br>
                <label class="titulo">Foto</label> <br><br>
                <input type="file" name="archivo"> <br><br>
                
                <select class="category" value="Categoria">
                    <option disabled selected>CATEGORIAS:</option>   <!--  avisar en back que haya validación de esto, revisar cuando unamos byf -->
                    <option>Hambuerguesas</option>
                    <option>Pizzas</option>
                    <option>Pastas</option>
                    <option>Ensaladas</option>
                    <option>Postres</option>
                    <option>Bebidas</option>
                    </select>
                    <br><br>
                <label class="titulo">Ingredientes</label> <br><br>
                <textarea name="textarea" rows="10" cols="50" placeholder="Escribe que ingredientes tiene este plato..."></textarea>
                <input type="submit" class="btn gen" value="Guardar"> 
               <a href="/index.html" class="btn btn-block gene"> Volver </a> 
            </form>
        </div>
        <div>
        </div>
</body>

</html>