<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/StylesFrom-comidas.css">
        <title>Editar Menú</title>
    </head>

    <body>
        <div class="contenedorBarra">
            <!-- NUEVO -->
            <nav class="contenedorPrincipal">
                <ul>
                    <li><a th:href="@{/}">Inicio</a> </li>
                    <li><a th:href="@{/menu/lista}">Lista de comidas</a></li>
                </ul>
            </nav>
        </div>
        <div class="Principal">
            <div class="caja">

                <div class="text-aling">
                    <h1 class="text"><itaic> Editar Menú </h1></itaic>

                    <form th:action="@{/menu/modificar/__${menu.id}__}" method="POST" enctype="multipart/form-data">
                        <label class="titulo"><strong>Titulo</strong></label> 
                        <input type="text" name="nombre" placeholder="Registra el titulo" th:value="${menu.nombre}"><br>
                        <label class="titulo"><strong>Valor</strong></label> 
                        <input type="number" name="precio" placeholder=" Registra el valor" th:value="${menu.precio}"><br><br>

                        <select class="category" name="tipo">
                            <option selected th:text="${menu.tipo}" ></option>
                            <option th:if="${menu.tipo != 'hamburguesa'}" value="hamburguesa">Hambuerguesas</option>
                            <option th:if="${menu.tipo != 'pizza'}" value="pizza">Pizzas</option>
                            <option th:if="${menu.tipo != 'pastas'}" value="pastas">Pastas</option>
                            <option th:if="${menu.tipo != 'ensaladas'}" value="ensaladas">Ensaladas</option>
                            <option th:if="${menu.tipo != 'postres'}" value="postres">Postres</option>
                            <option th:if="${menu.tipo != 'bebidas'}" value="bebidas">Bebidas</option>
                        </select>
                        <br><br>
                        <label class="text"><strong>Ingredientes</strong></label> <br>
                        <textarea name="ingredientes" rows="10" cols="50"
                                  placeholder="Registra que ingredientes tiene este plato..." th:text="${menu.ingredientes}" ></textarea><br><br>
                                  
                        <div class="fotoC"> 
                            <input type="file" name="archivo" id="file"> 
                            <input type="button" value="Subir archivo" class="foto" onclick="document.getElementById('file').click()"> </input> 
                        </div><br>

                        <input type="submit" class="btn gen" value="Guardar">
                        <a th:href="@{/}" class="btn btn-block gene"> Volver </a>
                    </form>
                </div>
                <div>
                    </body>

                    </html>