<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/StylesFrom-comidas.css">
        <title>Comidas</title>
    </head>

    <body>
        <div class="contenedorBarra">
            <!-- NUEVO -->
            <nav class="contenedorPrincipal">
                <ul>
                    <li><a th:href="@{/}">Inicio</a> </li>
                    <li><a th:href="@{/menu/lista}">Lista de comidas</a></li>
                </ul>
            </nav>
        </div>
        <div class="Principal">
            <div class="caja">

                <div class="text-aling">
                    <h1 class="text"><itaic> Registro de comidas </h1></itaic>

                    <form th:action="@{/menu/agregar}" method="POST" enctype="multipart/form-data">

                        <label class="titulo"><strong>Titulo</strong></label> 
                        <input type="text" name="nombre" placeholder="Registra el titulo"><br>
                        
                        <label class="titulo"><strong>Valor</strong></label> 
                        <input type="number" name="precio" placeholder=" Registra el valor"><br><br>

                        <select class="category" name="tipo">
                            <option disabled selected>CATEGORIAS:</option>
                            <!--  avisar en back que haya validación de esto, revisar cuando unamos byf -->
                            <option value="hamburguesa">Hambuerguesas</option>
                            <option value="pizza">Pizzas</option>
                            <option value="pastas">Pastas</option>
                            <option value="ensaladas">Ensaladas</option>
                            <option value="postres">Postres</option>
                            <option value="bebidas">Bebidas</option>
                        </select>
                        <br><br>
                        <label class="text"><strong>Ingredientes</strong></label> <br>
                        <textarea name="ingredientes" rows="10" cols="50"
                                  placeholder="Registra que ingredientes tiene este plato..."></textarea><br><br>
                        <input type="file" name="archivo"><br><br> 
                        <!-- <label for="foto"><strong>Adjunte</strong> </label>
                        <imput type="file" id="foto"> </imput> -->

                        <input type="submit" class="btn gen" value="Guardar">
                        <a th:href="@{/}" class="btn btn-block gene"> Volver </a>
                    </form>
                </div>
                <div>

                    </body>

                    </html>