<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>

    <div class="contenedorBarra"> <!-- NUEVO -->
        <nav class="contenedorPrincipal">
            <ul>
                 <li><a th:href="@{/}">Inicio</a> </li>
                    <li><a th:href="@{/menu/carta}">Menú</a></li>
                <li><a href="/reserva">Reserva</a></li>
            </ul>
        </nav>
    </div>

    <div class="contenedor">

        <!-- <div class="cerrar">
            <button type="button" id="form" onclick="abrir()">Ingresar</button>
        </div> -->

        <div class="contenedor-login" id="login">

            <div class="contenedor-img">
                <!-- <img src="Media/fondo1.jpg" alt=""> -->
                <img src="/img/LOGO2.png" alt="">
            </div>

            <div class="contenedor-botones">
                <ul>
                    <li> <button type="button" id="btn-ing" onclick="ingreso()" class="negro">Ingresar</button> </li> 
                </ul>
                <ul> 
                    <li><button type="button" id="btn-rg" onclick="registro()" class="gris">Registrarse</button></li>
                </ul>
                <div class="barra" id="sub"></div>
            </div>

            <!-- <div class="cerrar">
                <button type="button" id="form" onclick="cerrar()">X</button>
            </div> -->

            <div class="contenedor-ingreso" id="ingreso">
                
                <form th:action="@{/logincheck}" method="POST">
                    <!-- <label for="cor">Correo Electronico</label>         -->
                    
                    <div class="msjIngreso">  
                         <p  th:if="${error != null}" th:text="${error}"></p>  
                         <p class="verde"  th:if="${Exito != null}" th:text="${Exito}"></p> 
                         <p  th:if="${noExito != null}" th:text="${noExito}"></p> 
                    </div>
                    
                    <div class="nombre">
                        <input type="email" id="cor" name="email" placeholder="Correo Electrónico">
                    </div>

                    <div class="contraseña">
                        <input type="password" name="password" placeholder="Contraseña">
                    </div>
                    <div class="icono">
                        <img id="mostrar" src="/img/ojo.png" alt="visible">
                        <img id="oculto" src="/img/visibilidad.png" alt="no visible">
                    </div>

                     <div class="recordar">
                        <input type="checkbox" id="rec">
                        <label for="rec">Recordar este usuario</label>
                    </div> 

                    <div class="boton">
                        <input type="submit" value="Ingresar">
                    </div>
                    
                    <div class="olvidarContra"> <!--NUEVOHIJODEPUTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                        <a href="#"><p>¿Recuperar contraseña?</p></a>
                    </div>
                    
                </form>
            </div>

            <div class="contenedor-registro" id="registro">
                <form th:action="@{/usuario/registrar}" method="POST">
                    
                    <div class="msjRegistro">  <!--NUEVOHIJODEPUTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA-->
                       <p th:if="${RgError != null}" th:text="${RgError}"></p> 
                    </div>     
                    
                    <div class="NyA">
                        <input type="text" name="Nombre" placeholder="Nombre y Apellido">
                    </div>

                    <div class="Correo">
                        <input type="email" name="Email" placeholder="Correo Electrónico">
                    </div> 

                    <div class="icono_R1">
                        <img id="mostrar_R1" src="/img/ojo.png" alt="">
                        <img id="oculto_R1" src="/img/visibilidad.png" alt="no visible">
                    </div>

                    <div class="icono_R2">
                        <img id="mostrar_R2" src="/img/ojo.png" alt="visible">
                        <img id="oculto_R2" src="/img/visibilidad.png" alt="no visible">
                    </div>

                    <div class="contra">
                        <input type="password" name="Clave1" placeholder="Contraseña">
                    </div>

                    <div class="contra2">
                        <input type="password" name="Clave2" placeholder="Contraseña"> 
                    </div>

                    <div class="terminos">
                        <input type="checkbox" id="ter">
                        <label for="ter">Terminos y condiciones</label>
                    </div> 

                     <div class="bo_regis"><input type="submit" value="Registrarse"></div>  
                </form>
            </div>
        </div>

    </div>

</body>

<script src="/js/login.js"></script>

</html>